@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");


* {
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;
  }

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
form {
    padding: 2rem;
    font-family: inherit;
    display: flex;
  }

  input{
    font-family: inherit;
    padding: 10px;
    width: 90%;
    border-color: black;
    border-radius: 5px;
    display: flex;
  }

  button {
    font-family: inherit;
    cursor: pointer;
    border: none;
    padding: 0 0.4rem;
    font-weight: 100;
    background-color: black;
    color: white;
    border-radius: 5px;
    text-align: center;
  }

  ul {
    list-style: none;
    display: flex;
    gap: 1rem;
  }

  #toggleTemp{
    font-size: 1rem;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  img {
    max-width: 64px;
    margin-top: -5px;
  }



#location{
  font-size: 2rem;
}
#forecast{
  gap: 1.5rem;

}

#forecast > li {
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex: 1 1 0px;
}

#condition {
  margin-bottom: 2rem;
}